<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sourcepawn encoder ♥ SUPER TIMOR">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SourcePawn encoder</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
<!--                    <div class="mail-service">-->
<!--                        <i class=" fa fa-envelope"></i>-->
<!--                        smplugins@gmail.com-->
<!--                    </div>-->
                </div>

<!--                <div sec:authorize="isAuthenticated()" class="ht-right">-->
<!--                    <a class="login-panel" th:href="@{/profile}" th:text="${userName}"><i class="fa fa-user"></i>Profil</a>-->
<!--                    <a href="./logout" th:href="@{/logout}" class="login-panel"><i class="fas fa-sign-out-alt"></i></i>Wyloguj</a>-->
<!--                </div>-->
<!--                <div sec:authorize="isAnonymous()" class="ht-right">-->
<!--                    <a href="./login.html" th:href="@{/login}" class="login-panel"><i class="fa fa-user"></i>Zaloguj się</a>-->
<!--                </div>-->
            </div>
        </div>
    </header>
    <div class="form-group encoder-form">
        <label for="code-source">Paste your code here.</label>
        <textarea class="form-control" id="code-source" rows="3"></textarea>
    </div>
    <button type="submit" class="encode">ENCODE SOURCE</button>
    <div class="form-group encoder-form">
        <label for="code-source">Paste your code here.</label>
        <textarea class="form-control" id="code-source" rows="3"></textarea>
    </div>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>