<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sourcepawn encoder ♥ SUPER TIMOR">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SourcePawn encoder</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
<div class="container-fluid">
    <div class="row spad">
        <form style="display: inline-flex; width:100%" action="#" th:action="@{/index}" method="post">
            <div class="col-lg-5">
                <p> Code to encode: <textarea oninput="highlight" style="width: 100%; height:500px;" th:text="${codeToEncode}" type="text" name="codeToEncode"
                                              id="codeToEncode"></textarea></p>
            </div>
            <div class="col-lg-2 text-center mt-5">
                <p class="center-menu"><input type="checkbox" name="spaghettiCode"/>Spaghetti code</p>
                <p class="center-menu"><input type="checkbox" name="randomizeVariables"/>Randomize variables names</p>
                <p class="center-menu"><input type="number" id="length" name="length" th:value="6" th:min="3" th:max="13">Var names length</p>
                <p class="center-menu"><input style="position:relative; top:10%" type="submit" value="Submit"/></p>
                <p class="center-menu"><input style="position:relative; top:10%" type="reset" value="Reset"/></p> <!--// js clearing needed -->
            </div>
            <div class="col-lg-5">
                <p> Encoded code: <textarea style="width: 100%; height:500px;" th:text="${encodedCode}" type="text" name="encodedCode"
                                            id="encodedCode"></textarea></p>
            </div>

        </form>
    </div>
</div>

<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>